* {
  box-sizing: border-box;
}

.Applicationdiv {
  background-color: black;
  color: aliceblue;
  display: flex;
  height: 100vh;
  width: 100vw;
}


.chat_option {
  width: 30vw;
  background-color: #1e1e1e;
}

.users {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333;
  cursor: pointer;
}


.chatarea {
  width: 70vw;
  display: flex;
  flex-direction: column;
}


.chatmessages_area {
  height: 90vh;
  padding: 15px;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}


.user_message {
  align-self: flex-start;
  background-color: #334155;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 60%;
}


.sender_message {
  align-self: flex-end;
  background-color: #2563eb;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 60%;
}


.message_area {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #020617;
}

.text_area {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  resize: none;
}

.attaches,
.send {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #1e293b;
}
